.textwidget ul.footer__information {
  padding-left: 0 !important;
  > li {
    &:before {
      display: none;
    }
    &:after {
      content: "";
      clear: both;
      display: block;
    }
    i.fa {
      font-size: 22px;
      float: left;
      height: 40px;
      width: 24px;
      text-align: center;
      margin-right: 4px;
      color: $desego-main-color;
    }
  }
}

.footer_logodesego {
  z-index: 9;
  position: absolute;
  left: 50%;
  margin-top: -40px;
  margin-left: -41px;
}

.footer-column {
  &:after {
    content: "";
    position: absolute;
    left: 0;
    top: 5px;
    display: block;
    width: 1px;
    height: 100%;
    opacity: 0.3;
    background-color: #d8d8d8;
  }
  &:first-child:after {
    display: none;
  }
  i.fa{
    height: 100% !important;
  }
}

.footer-sidebar {
  padding-top: 60px;
}

@media (max-width: 768px) {
  .footer-column-2 .woodmart-widget {
    max-width: 100%;
    margin: 0;
  }
  .footer-column:after {
    display: none;
  }
}
