input {
  &[type="email"],
  &[type="date"],
  &[type="search"],
  &[type="number"],
  &[type="text"],
  &[type="tel"],
  &[type="url"],
  &[type="password"] {
    border: 1px solid #e4e4e4;
    background-color: #ffffff;
    height: 49px;
  }
}

textarea,
select {
  border: 1px solid #e4e4e4;
  background-color: #ffffff;
  height: 49px;
}

input[type="radio"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: inline-block;
  position: relative;
  background-color: #f1f1f1;
  color: #666;
  height: 20px;
  width: 20px;
  border: solid 1px $desego-text-color;
  border-radius: 20px;
  cursor: pointer;
  margin-right: 10px;
  outline: none;
  &:checked::before {
    position: absolute;
    font: 13px/1 "Open Sans", sans-serif;
    left: 3px;
    top: 3px;
    display: block;
    width: 12px;
    height: 12px;
    border-radius: 7px;
    background-color: $desego-main-color;
    content: "";
    transform: rotate(40deg);
  }
  &:hover {
    background-color: #f7f7f7;
  }
  &:checked {
    background-color: #f1f1f1;
  }
}
