.woodmart-shopping-cart {
  position: relative;
  background-color: $desego-secondary-color;
  border-radius: 4px;
}

.whb-clone .woodmart-shopping-cart {
  border-radius: 0;
}

.woodmart-shopping-cart {
  > a {
    height: 50px;
    color: $desego-secondary-color;
    padding: 0;
  }
  &:hover > a {
    color: $desego-text-color;
  }
  .woodmart-cart-wrapper {
    padding: 0;
  }
  .woodmart-cart-icon {
    &:after {
      content: "\00a0\00a0 MI CARRITO";
      display: inline;
      font-size: 16px;
      font-weight: bold;
      vertical-align: top;
      white-space: nowrap;
      line-height: 20px;
    }
    color: #fff;
  }
  .woodmart-cart-title {
    font-weight: 700;
    color: #fff;
    font-size: 14px;
    text-transform: uppercase;
    margin-right: 10px;
  }
  .woodmart-cart-subtotal .amount {
    color: $desego-secondary-color;
  }
}

.woodmart-cart-design-4 {
  .woodmart-cart-icon {
    margin-right: 6px;
    margin-left: 10px;
  }
  .woodmart-cart-number {
    background-color: $desego-highlight-color !important;
    font-size: 16px;
    color: $desego-secondary-color;
    width: 49px;
    height: 50px;
    line-height: 50px;
    border-radius: 0 4px 4px 0;
  }
}

.whb-clone .woodmart-cart-design-4 .woodmart-cart-number {
  border-radius: 0;
  height: 60px;
  line-height: 60px;
}

@media (max-width: 768px) {
  .woodmart-shopping-cart {
    .woodmart-cart-title {
      display: none;
    }
    .woodmart-cart-icon {
      &:after {
        display: none;
      }
    }
  }
}

@media (max-width: 1024px) {
  .whb-clone .woodmart-cart-design-4 .woodmart-cart-number {
    height: 50px;
    line-height: 50px;
  }
}
