ul.desego-icon-list{
    list-style: none !important;
    margin: 0 !important;
    padding: 0 !important;
    li{
        margin-bottom: 25px;
        a{
            img{
                max-height: 45px;
                width: auto;
            }
            img.w{
                max-height: none;
                width: 150px;
                height: auto;
            }
        }

        &:before{
            content: '' !important;
        }
    }
}