.whb-color-light:not(.whb-with-bg) {
  background-color: rgba(255, 255, 255, 0);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.3);
  background-image: linear-gradient(to left, #00c4c2, $desego-main-color);
}
