@media (max-width: 768px) {
  table.responsive {
    border: 0;
    thead {
      display: none;
    }
    tr {
      margin-bottom: 10px;
      display: block;
      border-bottom: 2px solid #7e8083;
    }
    td {
      display: block;
      text-align: right;
      font-size: 13px;
      border-bottom: 1px dotted #e6e6e6;
      &:last-child {
        border-bottom: 0;
      }
      &:before {
        content: attr(data-label);
        float: left;
        text-transform: uppercase;
        font-weight: bold;
        color: #2d2a2a;
      }
    }
  }
}