form.desego-tracking-form{
    ul{
        margin: 10px 0;
        li{
            label{
                display: inline-block;
                vertical-align: middle;
                font-size: 1em;
                margin: 0;
            }
        }
    }
    .button{
        color: #333;
    }
}