.woodmart-checkout-steps ul {
  color: $desego-secondary-color;
  li {
    span {
      font-size: 12px;
      color: $desego-text-color;
      display: inline;
    }
    &:before {
      font-family: FontAwesome;
      font-size: 1.2rem;
      display: block;
      margin-bottom: 8px;
      color: $desego-text-color;
    }
    &.step-active:before {
      color: $desego-main-color;
    }
    &.step-cart:before {
      content: "\f07a";
      padding-right: 41px;
    }
    &.step-checkout:before {
      content: "\f48b";
      padding-right: 41px;
    }
    &.step-complete:before {
      content: "\f058";
    }
  }
  .step-active span {
    color: $desego-main-color;
  }
}

@media (max-width: 768px) {
  .woodmart-checkout-steps ul li {
    margin: 0 10px;
    max-width: 33%;
    vertical-align: top;
    &:not(.step-active) {
      display: inline-block;
    }
    &.step-cart:before,
    &.step-checkout:before {
      padding-right: 0;
    }
  }
}
