.email-verify{
  display: block;
  width: 100%;
  .site-content > p {
    max-width: 470px;
    margin-left: auto;
    margin-right: auto;
    font-size: 110%;
    text-align: center;
  
    &:before {
      content: "\f11f";
      font-family: "woodmart-font";
      display: block;
      color: rgba(135, 135, 135, 0.15);
      font-size: 180px;
      line-height: 180px;
      font-weight: normal;
      margin-bottom: 10px;
    }
  }
}

@media (max-width: 1024px) {
  .email-verify .site-content > p:before {
    font-size: 110px;
    line-height: 110px;
  }
}

@media (max-width: 768px) {
  .email-verify .site-content > p {
    font-size: 100%;

    &:before {
      font-size: 80px;
      line-height: 80px;
    }
  }
}