.button.button--rounded {border-radius: 5px;}
.button.button--yellow {background-color: #f3ae4b;}
.button.button--gray {background-color: #e4e4e4;color:#3E3E3E;}
.icon-checkmark {
  background-color: #00928f;
  border-radius: 50%;
  height: 25px;
  position: relative;
  width: 25px;
}
.icon-checkmark svg {
  margin-top: -3px;
  vertical-align: middle;
}


.my-equipment-area { margin-bottom: 35px; }
.my-equipment-area__head { margin: 0; }
.my-equipment-area__head h2 { margin-bottom: 0; }
.wishlist-title--medium h2 { font-weight: 500; }
.my-equipment-area__list { margin: 10px 0; }
.pill {
  border: 1px solid #00928f;
  border-radius: 28px;
  color: #00928f;
  font-weight: 500;
  margin: 15px 5% 15px 0;
  max-width: 231px;
  padding: 14px 0;
  position: relative;
  text-align: center;
  width: 45%;
}
.pill > svg {
  margin-right: 5px;
  position: absolute;
  left: 10px;
  top: 5px;
  vertical-align: middle;
  width: 20px;
}
.pill.pill--secondary {
  border-color: #7e8083;
  color: #7e8083;
}
.pill--empty {
  border: none;
}
@media screen and (min-width: 480px) {
  .pill {
    width: 28.333333%;
  }
  .pill > svg {
    left: 20%;
    width: 26px;
  }
}

.my-equipment__main-head {
  border-bottom: 1px solid #e4e4e4;
  padding: 13px 0;
  margin: 20px 0;
}
.my-equipment__main-head .wishlist-title {
  display: block;
  text-align: center;
}
.my-equipment__main-head .wishlist-title h2 { text-transform: none; }
.my-equipment__main-head .row {margin:0;}

.my-equipment-steps {
  margin: 0 auto 60px !important;
  position: relative;
  width: 100%;
}
@media screen and (min-width: 480px) {
  .my-equipment-steps {
    width: 70%;
  }
}
.my-equipment-steps:before, .my-equipment-steps:after {
  background-color: #7e8083;
  content: '';
  display: block;
  height: 1px;
  margin-top: -11px;
  opacity: 0.6;
  position: absolute;
  top: 50%;
  width: 22%;
}
.my-equipment-steps:before {
  left: 22%;
}
.my-equipment-steps:after {
  right: 22%;
}
.my-equipment-step {
  color: #7e8083;
  flex: 1;
  font-size: 12px;
  text-align: center;

}
.my-equipment-step--active { color: #00928f; }
.my-equipment-step--active .my-equipment-step__num { background-color: #00928f;}
.my-equipment-step__num {
  background-color: #7e8083;
  border-radius: 50%;
  box-sizing: border-box;
  color: #e4e4e4;
  display: block;
  font-weight: 500;
  font-size: 14px;
  height: 30px;
  line-height: 2;
  margin: 0 auto 6px;
  text-align: center;
  width: 30px;
}

.my-equipment-filter .form-group {
  margin-bottom: 10px;
  width: 100%;
}
@media screen and (min-width: 480px) {
  .my-equipment-filter .form-group {width: 60%;}
}
.my-equipment-filter .select2 {
  flex: 1;
  margin-right: 10px;
}
body .my-equipment-filter .select2-container--default .select2-selection--single {
  border-radius: 5px;
  border-width: 1px;
}
.my-equipment-filter .button { margin-left: auto; }

.my-equipment-products .product__griditem { position: relative; }
.my-equipment-products .product__griditem .button {
  font-size: 14px;
  padding-left: 5px;
  padding-right: 5px;
}
@media screen and (min-width: 480px) {
  .my-equipment-products .product__griditem .button {
    font-size: 16px;
    padding-left: 20px;
    padding-right: 20px;
  }
}
.product__griditem .icon-checkmark {
  opacity: 0;
  position: absolute;
  right: 9px;
  top: 9px;
  transition: opacity 0.2s;
  z-index: 1;
}
.product-grid-item input[type="checkbox"],
.product-grid-item input[type="radio"] {
  opacity: 0;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
}
.product-grid-item input[type="checkbox"]:checked + .product__griditem,
.product-grid-item input[type="radio"]:checked + .product__griditem {
  border-color: #00928f;
  box-shadow: 0 4px 14px 7px rgba(0,146,143,0.1);
}
.product-grid-item input[type="checkbox"]:checked + .product__griditem .icon-checkmark,
.product-grid-item input[type="radio"]:checked + .product__griditem .icon-checkmark {
  opacity: 1;
}
.next-btn { margin: 40px 0 0 !important; }
.next-btn .button svg  {
  display: inline-block;
  fill: #7e8083;
  height: 1.25rem;
  margin-left: 8px;
  vertical-align: sub;
  width: 1.25rem;
}
.my-equipment-products.my-equipment-area {
  margin: auto;
  max-width: 642px;
}
.my-equipment-products.my-equipment-area .product-title svg {
  display: inline-block;
  fill: #7e8083;
  margin-right: 10px;
  vertical-align: middle;
}
.my-equipment-products.my-equipment-products.my-equipment-area .product-grid-item input[type="checkbox"]:checked + .product__griditem .product-title,.my-equipment-products.my-equipment-area .product-grid-item input[type="radio"]:checked + .product__griditem .product-title {  color: #00928f; }
.my-equipment-products.my-equipment-area .product-grid-item input[type="checkbox"]:checked + .product__griditem .product-title svg,
.my-equipment-products.my-equipment-area .product-grid-item input[type="radio"]:checked + .product__griditem .product-title svg { fill: #00928f; }

.my-equipment-interests-select {
  margin: auto;
  max-width: 753px;
}
.my-equipment-area__item {
  margin-right: 0;
  position: relative;
  width: 48%;
}
@media screen and (min-width: 480px) {
  .my-equipment-area__item {
    width: 30.33333%;
  }
}
.my-equipment-area__item .pill {
  border-color: #7e8083;
  color: #7e8083;
  width: 100%;
}
.my-equipment-area__item input[type="checkbox"] {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
.my-equipment-area__item .icon-checkmark {
  margin-top: -12.5px;
  opacity: 0;
  position: absolute;
  top: 50%;
  right: 5px;
  transition: opacity 0.2s;
}
@media screen and (min-width: 480px) {
  .my-equipment-area__item .icon-checkmark {
    right: 12px;
  }
}
.my-equipment-area__item .icon-checkmark svg {margin: 2px 0 0 1px;}
.my-equipment-area__item input[type="checkbox"]:checked + .pill {
  border-color: #00928f;
  color: #00928f;
}
.my-equipment-area__item input[type="checkbox"]:checked + .pill .icon-checkmark {
  opacity: 1;
}



// estilos propios
#selectequipmentForm{
  position: relative;

  #load-more-button{
    display:none;
  }
}
.ajax-loading.ajax-loading-custom{
  .woodmart-shop-loader{
    position: absolute;
    top: 0;
  }

}

.my-equipment-area__head{
  margin-left: 0 !important;
}

.pill.video{
  padding: 5px 10px;
}

.my_reward_table{
  .footable-visible{
    .pagination{
      ul li{
        display: inline;
        padding: 5px;
        margin: 5px;

        &.footable-page{

          &.active{
            font-weight: bold;
            text-decoration: underline !important;
          }
        }
      }
    }
  }
}