//From woodmart custom css theme settings
.whb-header-bottom{
  background:#000;
}

// ajustes de tamaños de elementos para movil, basado en woorank
@media (max-width: 1024px) {
  .icons-design-default .woodmart-social-icon {
    margin: 0 8px !important;
    padding: 12px;
    i.fa {
      font-size: 26px !important;
    }
    &.social-facebook{
      padding: 12px 16px;
    }
  }
  .widget-heading .close-side-widget {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .product-grid-item:not(.woodmart-hover-base) .woodmart-buttons > div a, .product-grid-item.woodmart-hover-base.product-in-carousel .woodmart-buttons > div a{
      width: 48px;
      height: 48px;
      &::before{
        font-size: 18px;
      }
  }
}

//center reacaptcha: Plugin: Advanced noCaptcha & invisible captcha
.anr_captcha_field_div{
  >div{
    margin: 0 auto;
  }
}

//made by dgk txt
.dgk-made{
  float: right;
  margin-right: -10%;
  position: relative;
  z-index: 10;
  @media screen and (max-width: 1024px){
    float: none;
    margin-right: 0;
    display: block;
  }
}

//fix for SVGs height in home
.height-svg-fix{
  img{
    height: 60px !important;
  }
}

.height-svg-x2{
  img{
    height: 120px !important;
    max-height: 120px !important;
  }
}

//Pointer in revslider layers with link
.rev_slider{
  .tp-withaction{
    cursor: pointer;
  }
}

.my-account-with-icon > a::before{
  font-size: 30px !important;
}

// fix for mailchimp suscription form
.mc4wp-form-fields{
  input[type="submit"]{
    padding-top: 16px;
    padding-bottom: 16px;
  }
  @media screen and (min-width: 350px){
    input[type="email"]{
      padding-right: 50px;
    }
  }
}