.business-listing {
  padding-bottom: 10px;
}

.business-listings {
  padding-bottom: 20px;
}

.business-listing {
  .fa {
    margin-right: 10px;
  }
  .product-title {
    display: inline-block;
    color: $desego-main-color;
    font-size: 16px;
    margin-bottom: 0;
  }
}

.business-listing-sku {
  width: 100px;
  display: inline-block;
}

.widget_layered_nav_filters .widgettitle {
  display: none;
}

.widget_layered_nav ul {
  li a:after {
    top: 5px;
  }
  .chosen a {
    color: $desego-secondary-color;
  }
}

.widget_layered_nav_filters ul li a {
  color: $desego-secondary-color;
}

@media (max-width: 600px) {
  .business-listing .product-title {
    display: block;
  }
}
