.payment_methods {
  &:after {
    content: "";
    clear: both;
    display: block;
  }
  li {
    img {
      display: block;
      margin-top: 5px;
    }
    &.payment_method_paypal img + img {
      display: none;
    }
    > label {
      display: block;
      text-align: left;
      font-size: 16px;
      border-radius: 4px;
      padding: 10px 15px;
      border: solid 1px #e4e4e4;
    }
  }
  > li {
    margin-bottom: 15px;
    position: relative;
    label:before {
      display: inline-block;
      margin-right: 10px;
      font: normal normal normal 18px/1 FontAwesome;
    }
    &.payment_method_paypal_plus label {
      &:before {
        content: "\f09d";
      }
      color: $desego-main-color;
    }
    &.payment_method_bacs label:before {
      content: "\f53d";
    }
    &.payment_method_cod label:before {
      content: "\f0d6";
    }
    &.payment_method_paypal label:before {
      content: "\f1f4";
    }
    label:after {
      content: "\f058";
      font: normal normal normal 25px/1 FontAwesome;
      display: none;
      position: absolute;
      top: 10px;
      right: 15px;
      color: $desego-main-color;
    }
    input[type="radio"]:checked + label {
      border: solid 2px $desego-main-color;
      width: 100%;
      background-color: #fff;
    }
    .input-radio {
      display: none;
      &:checked + label {
        background-color: #fff;
        font-weight: 700;
        -webkit-box-shadow: 1px 5px 10px rgba(0, 0, 0, 0.1);
        box-shadow: 1px 5px 10px rgba(0, 0, 0, 0.1);
        &:after {
          display: block;
        }
      }
    }
  }
  .payment_method_paypal {
    img {
      margin-left: 0px;
    }
    a {
      margin-left: 0px;
      font-size: 12px;
      color: $desego-text-color;
    }
  }

  // esconder pasarela de pago de bbva
  // li.wc_payment_method.payment_method_bbva_bancomer{
  //   display: none !important;
  // }
}
