.reactives-table{
    padding: 5px 12px;

    form.cart{
        .quantity, .btn-add{
            display: inline-flex;
            vertical-align: middle;
            margin: 0 5px;
        }
    }

    td.quantity-cell{
        min-width: 250px;
    }
}