.product-image-summary {
  .summary-inner > .price .no-tax {
    font-size: 12px;
  }
  .woodmart-after-add-to-cart ul.shipping__information {
    padding-left: 0 !important;
    > li {
      &:before {
        display: none;
      }
      &:after {
        content: "";
        clear: both;
        display: block;
      }
      color: $desego-secondary-color;
      font-size: 16px;
      &:first-child {
        color: $desego-text-color;
        i.fa {
          color: $desego-main-color;
        }
        strong {
          color: $desego-main-color;
          display: block;
        }
      }
      i.fa {
        font-size: 20px;
        float: left;
        height: 40px;
        width: 20px;
        text-align: center;
        margin-right: 16px;
        line-height: 34px;
        color: $desego-secondary-color;
      }
    }
  }
  .single_add_to_cart_button {
    box-shadow: 0 10px 30px 0 rgba(243, 174, 75, 0.2);
  }
}

.summary-inner {
  .woodmart-wishlist-btn {
    position: absolute;
    top: 10px;
    right: 0;
    font-size: 18px;
    a {
      font-size: 0em;
      &:before {
        font-size: 1.5rem;
      }
    }
  }
  .yith-wcwl-add-button{
    display: none;
  }
}
