.product-label {
  &.out-of-stock, &.attribute-label:not(.label-with-img) {
    color: $desego-secondary-color;
  }
}

.labels-rounded .out-of-stock {
  font-size: 6px;
}

.woodmart-add-btn > a span:not(.woodmart-tooltip-label) {
  font-size: 16px;
  line-height: 25px;
  padding: 10px 18px;
}

.product-grid-item {
  &-internal{
    border-radius: 4px;
    box-shadow: 0 4px 14px 7px rgba(121, 121, 121, 0.05);
    border: solid 1px #e4e4e4;
    background-color: #ffffff;
    padding: 15px;
  }
  .product-title {
    font-size: 18px;
    a {
      color: $desego-text-color;
    }
  }
  .price {
    font-size: 24px;
  }
}

@media (max-width: 576px) {
  .woodmart-add-btn > a span:not(.woodmart-tooltip-label) {
    font-size: 14px;
  }
}

