$desego-main-color: #00928f;
$desego-secondary-color: #283149;
$desego-highlight-color: #f3ae4b;
$desego-text-color: #7e8083;

mark {
  color: $desego-secondary-color;
}

.color-scheme-dark {
  h1, h2, h3, h4, h5, h6, .title, .widgettitle, .widget-title, label, legend {
    color: $desego-secondary-color;
  }
}

.hover-color-scheme-dark:hover {
  h1, h2, h3, h4, h5, h6 {
    color: $desego-secondary-color;
  }
}

.home .site-content {
  margin-bottom: 0px;
}

.sidebar-container {
  margin-bottom: 50px;
}

.footer-sidebar {
  padding-top: 60px;
}

.textwidget ul.footer__information {
  padding-left: 0 !important;
  > li {
    &:before {
      display: none;
    }
    &:after {
      content: "";
      clear: both;
      display: block;
    }
    i.fa {
      font-size: 22px;
      float: left;
      height: 40px;
      width: 24px;
      text-align: center;
      margin-right: 4px;
      color: $desego-main-color;
    }
  }
}

.woodmart-sticky-sidebar-opener {
  color: $desego-secondary-color;
}

.whb-color-light:not(.whb-with-bg) {
  background-color: rgba(255, 255, 255, 0);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.3);
  background-image: linear-gradient(to left, #00c4c2, $desego-main-color);
}

.menu-opener {
  color: $desego-secondary-color;
}

.search-button {
  > a {
    color: $desego-secondary-color;
  }
  &:hover > a {
    color: $desego-text-color;
  }
}

.woodmart-burger-icon {
  color: $desego-secondary-color;
  &:hover {
    color: $desego-text-color;
  }
}

.close-header-banner, .color-scheme-dark .close-header-banner {
  color: $desego-secondary-color;
  &:hover {
    color: $desego-secondary-color;
  }
}

.woodmart-wishlist-info-widget {
  > a {
    color: $desego-secondary-color;
  }
  &:hover > a {
    color: $desego-text-color;
  }
  &:not(.whb-wishlist-text):not(.without-product-count) {
    margin-right: 15px;
  }
}

.woodmart-compare-info-widget {
  > a {
    color: $desego-secondary-color;
  }
  &:hover > a {
    color: $desego-text-color;
  }
}

.woodmart-shopping-cart {
  position: relative;
  background-color: $desego-secondary-color;
  border-radius: 4px;
}

.whb-clone .woodmart-shopping-cart {
  border-radius: 0;
}

.woodmart-shopping-cart {
  > a {
    height: 50px;
    color: $desego-secondary-color;
    padding: 0;
  }
  &:hover > a {
    color: $desego-text-color;
  }
  .woodmart-cart-wrapper {
    padding: 0;
  }
  .woodmart-cart-icon {
    font-weight: 400;
    color: #fff;
  }
  .woodmart-cart-title {
    font-weight: 700;
    color: #fff;
    font-size: 14px;
    text-transform: uppercase;
    margin-right: 10px;
  }
  .woodmart-cart-subtotal .amount {
    color: $desego-secondary-color;
  }
}

.woodmart-cart-design-4 {
  .woodmart-cart-icon {
    margin-right: 6px;
    margin-left: 10px;
  }
  .woodmart-cart-number {
    background-color: $desego-highlight-color !important;
    font-size: 16px;
    color: $desego-secondary-color;
    width: 49px;
    height: 50px;
    line-height: 50px;
    border-radius: 0 4px 4px 0;
  }
}

.whb-clone .woodmart-cart-design-4 .woodmart-cart-number {
  border-radius: 0;
  height: 60px;
  line-height: 60px;
}

.woodmart-header-links {
  .menu-item-register {
    max-width: 150px;
  }
  .item-level-0 {
    > a {
      color: $desego-secondary-color;
    }
    &:hover > a {
      color: $desego-text-color;
    }
  }
  .menu-item-register a {
    white-space: pre-wrap;
  }
}

.menu-item-register .login-title, .login-form-side .create-account-text, table th {
  color: $desego-secondary-color;
}

.searchform input[type="text"] {
  height: 50px;
}

.view-all-results, .woodmart-search-dropdown .searchsubmit, .woodmart-search-full-screen .searchform input[type="text"] {
  color: $desego-secondary-color;
}

.woodmart-close-search {
  &:after, &:before {
    background-color: $desego-secondary-color;
  }
}

.no-found-msg {
  color: $desego-secondary-color;
}

.footer-column {
  &:after {
    content: "";
    position: absolute;
    left: 0;
    top: 5px;
    display: block;
    width: 1px;
    height: 173px;
    opacity: 0.3;
    background-color: #d8d8d8;
  }
  &:first-child:after {
    display: none;
  }
}

.footer-column-2 .widget_nav_menu {
  max-width: 160px;
  margin: 0 auto;
}

.home .woodmart-prefooter {
  padding-bottom: 0;
}

.btn, .button, button, .added_to_cart, [type="submit"], [type="button"] {
  font-size: 16px;
  line-height: inherit;
}

.btn.btn-color-white {
  color: $desego-secondary-color;
  &:hover {
    color: $desego-secondary-color;
  }
}

.btn-style-bordered {
  &.btn-color-default {
    color: $desego-secondary-color;
    &:hover {
      color: $desego-secondary-color;
    }
  }
  &.btn-color-black {
    color: $desego-secondary-color;
  }
}

.btn-style-link {
  &.btn-color-default, &.btn-color-primary, &.btn-color-alt {
    color: $desego-secondary-color;
    &:hover {
      color: $desego-secondary-color;
    }
  }
  &.btn-color-black {
    color: $desego-secondary-color;
    border-color: $desego-secondary-color;
    &:hover {
      color: $desego-secondary-color;
      border-color: $desego-secondary-color;
    }
  }
}

.scrollToTop {
  color: $desego-secondary-color;
}

.woodmart-load-more {
  color: $desego-secondary-color;
  &:hover {
    color: $desego-secondary-color;
  }
}

.title-size-small .woodmart-checkout-steps ul li {
  font-size: 13px;
}

.menu-label-grey, .menu-label-white, .mega-menu-list > li > a {
  color: $desego-secondary-color;
}

.whb-top-bar .whb-secondary-menu .item-level-0 > a {
  text-transform: capitalize;
  font-size: 14px;
}

.vertical-navigation .item-level-0 > a, .site-mobile-menu li a, .mobile-nav-tabs .active, .icon-sub-menu {
  color: $desego-secondary-color;
}

input {
  &[type="email"], &[type="date"], &[type="search"], &[type="number"], &[type="text"], &[type="tel"], &[type="url"], &[type="password"] {
    border: 1px solid #e4e4e4;
    background-color: #ffffff;
    height: 49px;
  }
}

textarea, select {
  border: 1px solid #e4e4e4;
  background-color: #ffffff;
  height: 49px;
}

input[type="radio"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: inline-block;
  position: relative;
  background-color: #f1f1f1;
  color: #666;
  height: 20px;
  width: 20px;
  border: solid 1px $desego-text-color;
  border-radius: 20px;
  cursor: pointer;
  margin-right: 10px;
  outline: none;
  &:checked::before {
    position: absolute;
    font: 13px/1 "Open Sans", sans-serif;
    left: 3px;
    top: 3px;
    display: block;
    width: 12px;
    height: 12px;
    border-radius: 7px;
    background-color: $desego-main-color;
    content: "";
    transform: rotate(40deg);
  }
  &:hover {
    background-color: #f7f7f7;
  }
  &:checked {
    background-color: #f1f1f1;
  }
}

.comments-area {
  .comment-author .fn, .no-comments {
    color: $desego-secondary-color;
  }
}

.woodmart-post-date {
  color: $desego-secondary-color;
}

footer .footer_logodesego {
  z-index: 9;
  position: absolute;
  left: 50%;
  margin-top: -40px;
  margin-left: -41px;
}

.woodmart-pagination > {
  a, span:not(.page-links-title) {
    color: $desego-secondary-color;
  }
}

.page-links > {
  a, span:not(.page-links-title) {
    color: $desego-secondary-color;
  }
}

.woodmart-pagination > a {
  &:hover, &:focus {
    color: $desego-secondary-color;
  }
}

.page-links {
  > a {
    &:hover, &:focus {
      color: $desego-secondary-color;
    }
  }
  .page-links-title {
    color: $desego-secondary-color;
  }
}

.masonry-filter li {
  color: $desego-secondary-color;
}

.portfolio-text-shown .entry-title a {
  color: $desego-secondary-color;
  &:hover {
    color: $desego-secondary-color;
  }
}

.widget a:hover, .woodmart-widget a:hover, div[class^="vc_wp"] a:hover {
  color: $desego-secondary-color;
}

.widget li, .woodmart-widget li, div[class^="vc_wp"] li {
  margin-bottom: 8px;
}

.color-scheme-dark {
  .widget a:hover, .woodmart-widget a:hover, div[class^="vc_wp"] a:hover {
    color: $desego-secondary-color;
  }
}

.color-scheme-light .footer-widget a {
  color: $desego-text-color;
  &.button {
    width: 154px;
    color: $desego-secondary-color;
    border-radius: 4px;
    box-shadow: 0 10px 30px 0 rgba(243, 174, 75, 0.2);
    background-color: $desego-highlight-color;
  }
}

.widget-heading .close-side-widget, .widgettitle, .widget-title {
  color: $desego-secondary-color;
}

.widget_layered_nav_filters .widgettitle {
  display: none;
}

.widget_recent_comments ul li {
  .url, &:before {
    color: $desego-secondary-color;
  }
}

.widget_categories ul li.current_page_item > a, .widget_pages ul li.current_page_item > a, .widget_archive ul li.current_page_item > a, .widget_nav_menu ul li.current_page_item > a {
  color: $desego-secondary-color;
}

.widget_rss {
  .widget-title a, ul li > a {
    color: $desego-secondary-color;
  }
}

.widget_calendar #wp-calendar > caption, .cookies-buttons .cookies-more-btn {
  color: $desego-secondary-color;
}

.woodmart-toolbar-item {
  > a {
    color: $desego-secondary-color;
  }
  &:hover a {
    color: $desego-text-color;
  }
}

.wpb-js-composer .vc_tta.vc_general.vc_tta-style-classic {
  &.vc_tta-accordion.vc_tta-color-white {
    .vc_tta-panel.vc_active .vc_tta-panel-title > a, .vc_tta-panel-title:hover > a {
      color: $desego-secondary-color;
    }
  }
  &.vc_tta-tabs .vc_tta-tab {
    color: $desego-secondary-color;
  }
}

.owl-carousel .owl-item {
  border-radius: 4px;
  box-shadow: 0 4px 14px 7px rgba(121, 121, 121, 0.05);
  border: solid 1px #e4e4e4;
  background-color: #ffffff;
}

.woodmart-carousel-spacing-30 {
  .owl-item, .owl-carousel:not(.owl-loaded) > div {
    padding-left: 0;
    padding-right: 0;
    padding: 15px;
  }
}

.slider-type-product {
  .owl-stage-outer, .owl-carousel:not(.owl-loaded) {
    padding-bottom: 15px;
  }
}

.wcml-horizontal-list li a {
  &:hover, &:focus {
    color: $desego-secondary-color;
  }
}

.wcml-vertical-list li a {
  &:hover, &:focus {
    color: $desego-secondary-color;
  }
}

.wcml-horizontal-list .wcml-cs-active-currency > a, .wcml-vertical-list .wcml-cs-active-currency > a {
  color: $desego-secondary-color;
}

.widgetarea-mobile {
  .widget_currency_sel_widget .widget-title, .widget_icl_lang_sel_widget .widget-title {
    color: $desego-secondary-color;
  }
}

.whb-text-element {
  .wcml-dropdown a.wcml-cs-item-toggle, .wcml-dropdown-click a.wcml-cs-item-toggle {
    color: $desego-secondary-color;
  }
  .wcml-dropdown a.wcml-cs-item-toggle:hover, .wcml-dropdown-click a.wcml-cs-item-toggle:hover {
    color: $desego-text-color;
  }
}

div.open-table-widget .otw-widget-title {
  color: $desego-secondary-color;
}

.woodmart-title-size-medium .woodmart-title-container {
  font-size: 28px;
}

.woodmart-text-block-wrapper.color-scheme-dark .woodmart-title-container {
  color: $desego-secondary-color;
}

.icons-design-default .woodmart-social-icon {
  color: $desego-secondary-color !important;
}

.icons-size-small i, .icons-size- i {
  font-size: 18px;
}

.woodmart-counter {
  .counter-value, &.color-scheme-dark .counter-value {
    color: $desego-secondary-color;
  }
}

.testimonial .testimonial-content footer, .instagram-widget .clear a, .woodmart-timer > span {
  color: $desego-secondary-color;
}

.woodmart-price-table {
  .woodmart-plan-title, .woodmart-price-currency, .woodmart-price-value {
    color: $desego-secondary-color;
  }
}

.pagin-style-2 .owl-dots .owl-dot {
  color: $desego-secondary-color;
}

.author-area > a {
  color: $desego-secondary-color;
  &:hover {
    color: $desego-secondary-color;
  }
}

.woodmart-sticky-btn .in-stock, .woodmart-compare-col .in-stock, .product-image-summary .in-stock, .variations_form .in-stock, .wishlist_table tr td.product-stock-status span.wishlist-in-stock {
  color: $desego-secondary-color;
}

.woodmart-price-table .woodmart-plan-footer .add-to-cart-loop, .woodmart-hover-button .hover-mask > a, .woodmart-hover-info-alt .product-actions > a, .woodmart-hover-base:not(.product-in-carousel):not(.hover-width-small):not(.add-small-button) .woodmart-add-btn > a, .woodmart-hover-quick .woodmart-add-btn > a, .product-list-item .woodmart-add-btn > a, .woodmart-hover-standard .btn-add > a {
  -webkit-box-shadow: 0 10px 30px 0 rgba(243, 174, 75, 0.2);
  box-shadow: 0 10px 30px 0 rgba(243, 174, 75, 0.2);
}

.woodmart-empty-compare, .cart-empty {
  color: $desego-secondary-color;
}

.group_table td.product-quantity > a {
  color: $desego-secondary-color;
  &:hover {
    color: $desego-secondary-color;
  }
}

.products .product__griditem {
  border-radius: 4px;
  box-shadow: 0 4px 14px 7px rgba(121, 121, 121, 0.05);
  border: solid 1px #e4e4e4;
  background-color: #ffffff;
  padding: 15px;
}

.product-grid-item {
  .product-title {
    font-size: 18px;
    a {
      color: $desego-text-color;
    }
  }
  .price {
    font-size: 24px;
  }
}

.swatches-on-grid .swatch-on-grid, .woodmart-buttons > div a {
  color: $desego-secondary-color;
}

.product-label {
  &.out-of-stock, &.attribute-label:not(.label-with-img) {
    color: $desego-secondary-color;
  }
}

.labels-rounded .out-of-stock {
  font-size: 6px;
}

.title-line-one .product-grid-item .product-title {
  line-height: 22px;
  padding: 0 10px;
}

.title-line-two .product-grid-item .product-title {
  line-height: 22px;
  padding: 0 10px;
  max-height: inherit;
  height: 48px;
}

.business-listing {
  padding-bottom: 10px;
}

.business-listings {
  padding-bottom: 20px;
}

.business-listing {
  .fa {
    margin-right: 10px;
  }
  .product-title {
    display: inline-block;
    color: $desego-main-color;
    font-size: 16px;
    margin-bottom: 0;
  }
}

.business-listing-sku {
  width: 100px;
  display: inline-block;
}

.woodmart-hover-alt .btn-add-swap > a, .woodmart-hover-info .price ins {
  color: $desego-secondary-color;
}

.woodmart-hover-standard .btn-add > a span:not(.woodmart-tooltip-label) {
  font-size: 16px;
  line-height: 25px;
  padding: 10px 18px;
}

.category-grid-item .category-title, .woodmart-sizeguide-table tr:first-child td, .compare-field {
  color: $desego-secondary-color;
}

.woodmart-compare-remove {
  color: $desego-secondary-color;
  &:hover {
    color: $desego-secondary-color;
  }
}

.widget_product_categories {
  .product-categories li.current-cat > a {
    color: $desego-secondary-color;
  }
  .woodmart-cats-toggle {
    &:hover, &.toggle-active {
      color: $desego-secondary-color;
    }
  }
}

.color-scheme-light .widget_product_categories .woodmart-cats-toggle {
  &:hover, &.toggle-active {
    color: $desego-secondary-color;
  }
}

.woodmart-dark .widget_product_categories .woodmart-cats-toggle {
  &:hover, &.toggle-active {
    color: $desego-secondary-color;
  }
}

.widget_shopping_cart {
  .total strong, .empty {
    color: $desego-secondary-color;
  }
}

.widget_price_filter .price_slider_amount .price_label > span {
  color: $desego-secondary-color;
}

.widget_layered_nav ul {
  li a:after {
    top: 5px;
  }
  .chosen a {
    color: $desego-secondary-color;
  }
}

.widget_layered_nav_filters ul li a {
  color: $desego-secondary-color;
}

.woodmart-user-panel {
  .user-info strong {
    color: $desego-secondary-color;
  }
  .logout-link {
    color: $desego-secondary-color;
    &:hover {
      color: $desego-secondary-color;
    }
  }
}

.woodmart-price-filter .current-state, .woocommerce-ordering-list .selected-order {
  color: $desego-secondary-color;
}

.yith-woocompare-widget {
  .products-list li {
    color: $desego-secondary-color;
  }
  .clear-all {
    color: $desego-secondary-color;
    &:hover {
      color: $desego-secondary-color;
    }
  }
}

.woodmart-woocommerce-layered-nav {
  .chosen .layered-nav-link, .with-swatch-text .layered-nav-link {
    color: $desego-secondary-color;
  }
}

.wc-item-meta li strong, .woodmart-stock-progress-bar .stock-info span {
  color: $desego-secondary-color;
}

.woodmart-product-categories .category-nav-link > a {
  &:hover, &:focus {
    color: $desego-secondary-color;
  }
}

.icon-drop-category:after, .woodmart-clear-filters-wrapp .woodmart-clear-filters, .woocommerce-ordering select {
  color: $desego-secondary-color;
}

.woodmart-products-per-page {
  .per-page-title {
    color: $desego-secondary-color;
  }
  .per-page-variation {
    &:hover, &:focus {
      color: $desego-secondary-color;
    }
    &.current-variation {
      color: $desego-secondary-color;
      font-weight: 600;
    }
  }
}

.woodmart-show-sidebar-btn, .woodmart-filter-buttons .open-filters {
  color: $desego-secondary-color;
}

.woocommerce-breadcrumb {
  a:after {
    content: ">";
  }
  .breadcrumb-last, .breadcrumb_last {
    color: $desego-secondary-color;
  }
}

.yoast-breadcrumb {
  .breadcrumb-last, .breadcrumb_last {
    color: $desego-secondary-color;
  }
}

.woocommerce-pagination .page-numbers .page-numbers {
  color: $desego-secondary-color;
}

del .amount {
  color: #b8b8b8;
  font-weight: normal;
  font-size: 70%;
}

.price del {
  color: #b8b8b8;
  font-size: 70%;
}

.single-product-page > div:not(:last-child) {
  margin-bottom: 0px;
}

.product-image-summary {
  .summary-inner > .price .sin-iva {
    font-size: 12px;
  }
  .woodmart-after-add-to-cart ul.shipping__information {
    padding-left: 0 !important;
    > li {
      &:before {
        display: none;
      }
      &:after {
        content: "";
        clear: both;
        display: block;
      }
      color: $desego-secondary-color;
      font-size: 16px;
      &:first-child {
        color: $desego-text-color;
        i.fa {
          color: $desego-main-color;
        }
        strong {
          color: $desego-main-color;
          display: block;
        }
      }
      i.fa {
        font-size: 20px;
        float: left;
        height: 40px;
        width: 20px;
        text-align: center;
        margin-right: 16px;
        line-height: 34px;
        color: $desego-secondary-color;
      }
    }
  }
  .single_add_to_cart_button {
    box-shadow: 0 10px 30px 0 rgba(243, 174, 75, 0.2);
  }
}

.compare-btn-wrapper a, .summary-inner > .yith-wcwl-add-to-wishlist a, .sizeguide-btn-wrapp a {
  color: $desego-secondary-color;
}

.compare-btn-wrapper a:after {
  border-left-color: $desego-secondary-color;
}

.summary-inner {
  > .yith-wcwl-add-to-wishlist a:after {
    border-left-color: $desego-secondary-color;
  }
  .yith-wcwl-add-button, .yith-wcwl-wishlistexistsbrowse, .yith-wcwl-wishlistaddedbrowse {
    position: absolute;
    top: 10px;
    right: 0;
    font-size: 18px;
  }
  > .yith-wcwl-add-to-wishlist a {
    font-size: 0em;
    &:before {
      font-size: 1.5rem;
    }
  }
}

.woocommerce-product-gallery .owl-carousel .owl-item {
  box-shadow: none;
  border: 0px;
}

.product-360-button > a, .product-video-button > a, .woodmart-show-product-gallery-wrap > a {
  border-radius: 4px;
  border: solid 1px #e4e4e4;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.product-360-button > a {
  &:hover, &:focus {
    color: $desego-secondary-color;
  }
}

.product-video-button > a {
  &:hover, &:focus {
    color: $desego-secondary-color;
  }
}

.woodmart-show-product-gallery-wrap > a {
  &:hover, &:focus {
    color: $desego-secondary-color;
  }
}

.variations_form .variations label {
  margin-bottom: 0;
  font-weight: 600;
  color: $desego-secondary-color;
}

.product_meta > span {
  color: $desego-secondary-color;
  font-size: 16px;
  text-transform: uppercase;
}

.product-share {
  font-size: 16px;
  .share-title {
    color: $desego-secondary-color;
    margin-right: 5px;
    text-transform: uppercase;
  }
  .woodmart-social-icons .woodmart-social-icon {
    color: $desego-text-color !important;
  }
}

.product-design-default .entry-summary.col-lg-4 {
  .woocommerce-breadcrumb .breadcrumb-link-last, .yoast-breadcrumb .breadcrumb-link-last {
    color: $desego-secondary-color;
  }
}

.tabs-layout-tabs .tabs {
  text-align: left;
  &:after {
    content: "";
    position: absolute;
    top: 30px;
    left: -20%;
    width: 140%;
    height: 1px;
    background-color: #e4e4e4;
  }
  li {
    color: $desego-secondary-color;
    a {
      padding-top: 23px;
      padding-bottom: 23px;
      &:after {
        bottom: 0;
        height: 4px;
      }
    }
  }
}

.woodmart-accordion-title, #tab-seller ul li > span, .woocommerce-review-link:hover, .commentlist .comment-text .meta strong {
  color: $desego-secondary-color;
}

.related-and-upsells > div {
  margin-bottom: 40px;
  margin-top: 40px;
}

.woodmart-products-nav {
  .product-btn > a, .woodmart-back-btn {
    color: $desego-secondary-color;
  }
}

.woodmart-product-instagram .product-instagram-intro span {
  color: $desego-secondary-color;
}

.woodmart-checkout-steps ul {
  color: $desego-secondary-color;
  li {
    span {
      font-size: 12px;
      color: $desego-text-color;
    }
    &:before {
      font-family: FontAwesome;
      font-size: 1.2rem;
      display: block;
      margin-bottom: 8px;
      color: $desego-text-color;
    }
    &.step-active:before {
      color: $desego-main-color;
    }
    &.step-cart:before {
      content: "\f07a";
      padding-right: 41px;
    }
    &.step-checkout:before {
      content: "\f48b";
      padding-right: 41px;
    }
    &.step-complete:before {
      content: "\f058";
    }
  }
  .step-active span {
    color: $desego-main-color;
  }
}

.woocommerce-form-coupon-toggle > .woocommerce-info, .woocommerce-form-login-toggle > .woocommerce-info, .woocommerce-account-fields .woocommerce-form__label, #ship-to-different-address label {
  color: $desego-secondary-color;
}

.cart-totals-inner {
  border: 3px solid $desego-main-color;
}

.social-login-title, .register-or, .woocommerce-thankyou-order-details strong {
  color: $desego-secondary-color;
}

.wc-bacs-bank-details {
  strong, .amount {
    color: $desego-secondary-color;
  }
}

.woodmart-products-tabs {
  .tabs-name, .products-tabs-title {
    color: $desego-secondary-color;
  }
}

.woodmart-pf-title, .woodmart-pf-results li, .woodmart-pf-dropdown .swatches-brands.show-labels-off .filter-swatch span:after, .woodmart-pf-price-range .price_label {
  color: $desego-secondary-color;
}

.thumbnails.slick-slider {
  .slick-slide {
    padding: 7px 5px;
    border-radius: 4px;
    border: solid 1px #e4e4e4;
    margin-top: 7px;
    margin-bottom: 7px;
  }
  > button {
    color: $desego-secondary-color;
  }
}

.product-image-summary-inner .product-images {
  border-right: solid 1px #e4e4e4;
  padding-bottom: 30px;
}

.wishlist_table tr td.wishlist-empty, body > h1 {
  color: $desego-secondary-color;
}

table.compare-list tr {
  &.stock td span, &.no-products td, &.remove a {
    color: $desego-secondary-color;
  }
}

body {
  &.yith-woocompare-popup.woocommerce > h1 {
    color: $desego-secondary-color;
  }
  .compare-table-clear a.button {
    color: $desego-secondary-color;
    &:hover {
      color: $desego-secondary-color;
    }
  }
}

.wc-gzd-sale-price-label {
  color: $desego-secondary-color;
}

.dokan-category-menu #cat-drop-stack > ul li a {
  .caret-icon i {
    &:hover, &.fa-rotate-90 {
      color: $desego-secondary-color;
    }
  }
  &:hover, &:focus {
    color: $desego-secondary-color;
  }
}

div.wcmp_regi_main {
  .reg_header1, .reg_header2 {
    color: $desego-secondary-color;
  }
}

.woocommerce-wcmp_customer_qna #ask-qna, .review_link_data_wappers .button {
  color: $desego-secondary-color;
  &:hover {
    color: $desego-secondary-color;
  }
}

.cart-totals-inner .wcppec-checkout-buttons__separator, .ywraq_list_empty_message, body .select2-container--default .select2-results__option--highlighted[aria-selected] {
  color: $desego-secondary-color;
}

.woodmart-compare-info-widget > a {
  padding-left: 10px;
  padding-right: 10px;
}

h1, h2, h3, h4, h5, h6, .title, legend, .woocommerce-Reviews .comment-reply-title {
  color: $desego-secondary-color;
}

.color-scheme-dark {
  .widget a.product-title, .woodmart-widget a.product-title, div[class^="vc_wp"] a.product-title {
    color: $desego-secondary-color;
  }
}

.autocomplete-suggestion .suggestion-title, .widget_recent_entries ul li a, .widget_recent_comments ul li > a, .woodmart-recent-posts .entry-title a, .woodmart-menu-price .menu-price-title, .group_table td.label a, .product-grid-item .product-title, .yith-woocompare-widget .products-list li a.title, .product-title, table.compare-list tr.title td, .widget_recent_reviews .product-title, td.product-name a, a.product-title {
  color: $desego-secondary-color;
}

.whb-color-light {
  .navigation-style-default .item-level-0 > a, .navigation-style-underline .item-level-0 > a, .navigation-style-separated .item-level-0 > a, .navigation-style-bordered .item-level-0 > a {
    color: #dbedf3;
  }
}

.full-screen-nav .item-level-0 > a {
  color: #dbedf3;
}

.whb-color-dark .navigation-style-default .item-level-0 > a, .navigation-style-default .menu-mega-dropdown .color-scheme-dark .sub-menu > li > a, .navigation-style-separated .menu-mega-dropdown .color-scheme-dark .sub-menu > li > a, .navigation-style-bordered .menu-mega-dropdown .color-scheme-dark .sub-menu > li > a, .vertical-navigation .menu-mega-dropdown .sub-menu > li > a {
  color: $desego-secondary-color;
}

.whb-color-dark .navigation-style-underline .item-level-0 {
  > a, &:hover > a {
    color: $desego-secondary-color;
  }
}

.navigation-style-underline {
  .menu-simple-dropdown .color-scheme-dark li a:hover {
    color: $desego-secondary-color;
  }
  .menu-mega-dropdown .color-scheme-dark {
    .sub-menu > li > a {
      color: $desego-secondary-color;
      &:hover {
        color: $desego-secondary-color;
      }
    }
    .sub-sub-menu li a:hover {
      color: $desego-secondary-color;
    }
  }
}

.whb-color-dark {
  .navigation-style-separated .item-level-0 > a, .navigation-style-bordered .item-level-0 > a {
    color: $desego-secondary-color;
  }
  .navigation-style-separated .item-level-0:hover > a, .navigation-style-bordered .item-level-0:hover > a {
    color: $desego-text-color;
  }
}

.cart-widget-side, .login-form-side, .mobile-nav {
  z-index: 9999999999;
}

.comments-area .comment-body dl dt, .wc-tab-inner > div > dl dt, .woocommerce-product-details__short-description > dl dt, .hover-content-inner > dl dt, .woodmart-entry-content > dl dt, .wpb_text_column .wpb_wrapper > dl dt, .woodmart-text-block > dl dt, .portfolio-single-content > dl dt, .woocommerce-terms-and-conditions > dl dt, .entry-content > dl dt, .header-banner-container > dl dt {
  color: $desego-secondary-color;
}

.btns-default-dark {
  .widget_shopping_cart .buttons .btn-cart, .widget_price_filter .price_slider_amount .button, .yith-woocompare-widget > a.compare, .cart-totals-inner .shipping-calculator-form .button, .cart-actions .button[name="update_cart"], .woodmart-switch-to-register, #dokan-form-contact-seller.seller-form input.dokan-btn-theme, .wcmp-quick-info-wrapper input[type="submit"], .simplePopup .submit-report-abuse, .vendor_sort input[type="submit"] {
    color: $desego-secondary-color;
  }
}

.cart-actions .button[name="update_cart"] {
  background-color: #e4e4e4 !important;
}

.btns-default-hover-dark {
  .widget_shopping_cart .buttons .btn-cart:hover, .widget_price_filter .price_slider_amount .button:hover, .yith-woocompare-widget > a.compare:hover, .cart-totals-inner .shipping-calculator-form .button:hover, .cart-actions .button[name="update_cart"]:hover, .woodmart-switch-to-register:hover, #dokan-form-contact-seller.seller-form input.dokan-btn-theme:hover, .wcmp-quick-info-wrapper input[type="submit"]:hover, .simplePopup .submit-report-abuse:hover, .vendor_sort input[type="submit"]:hover {
    color: $desego-secondary-color;
  }
}

.btns-shop-dark {
  .hotspot-content .add_to_cart_button, td.woocommerce-orders-table__cell-order-actions a, .account-payment-methods-table .button, .woodmart-hover-base:not(.product-in-carousel):not(.hover-width-small):not(.add-small-button) .woodmart-add-btn > a, .product-list-item .woodmart-add-btn > a, .woodmart-hover-standard .btn-add > a, .popup-quick-view .woodmart-scroll-content > a, .woodmart-sticky-btn .woodmart-sticky-add-to-cart, .popup-added_to_cart .view-cart {
    color: $desego-secondary-color;
  }
  .woodmart-compare-col {
    .button, .added_to_cart {
      color: $desego-secondary-color;
    }
  }
  .widget_shopping_cart .buttons .checkout {
    color: $desego-secondary-color;
  }
  button {
    &[name="save_account_details"], &[name="save_address"], &[name="track"] {
      color: $desego-secondary-color;
    }
  }
  .single_add_to_cart_button, .checkout_coupon .button, #place_order, .return-to-shop .button, .cart-totals-inner .checkout-button, .cart-actions .button[name="apply_coupon"], .register .button, .login .button, .lost_reset_password .button, .social-login-btn > a, .woocommerce-MyAccount-content > .button, .order-again .button, .woocommerce-Button--next, .woocommerce-Button--previous, .woocommerce-MyAccount-downloads-file, .woodmart-pf-btn button, .woocommerce table.wishlist_table td.product-add-to-cart .add_to_cart, table.compare-list tr.add-to-cart td a {
    color: $desego-secondary-color;
  }
  .yith-woocompare-premium .compare-list {
    .product_info .button, .add-to-cart .button, .added_to_cart {
      color: $desego-secondary-color;
    }
  }
  #yith-woocompare-related .related-products .woocommerce > a, #dokan-seller-listing-wrap .dokan-btn, .woocommerce-MyAccount-content .dokan-btn, .yith-ywraq-add-to-quote .yith-ywraq-add-button .button.add-request-quote-button {
    color: $desego-secondary-color;
  }
}

.btns-shop-hover-dark {
  .hotspot-content .add_to_cart_button:hover, td.woocommerce-orders-table__cell-order-actions a:hover, .account-payment-methods-table .button:hover, .woodmart-hover-base:not(.product-in-carousel):not(.hover-width-small):not(.add-small-button) .woodmart-add-btn > a:hover, .product-list-item .woodmart-add-btn > a:hover, .woodmart-hover-standard .btn-add > a:hover, .popup-quick-view .woodmart-scroll-content > a:hover, .woodmart-sticky-btn .woodmart-sticky-add-to-cart:hover, .popup-added_to_cart .view-cart:hover {
    color: $desego-secondary-color;
  }
  .woodmart-compare-col {
    .button:hover, .added_to_cart:hover {
      color: $desego-secondary-color;
    }
  }
  .widget_shopping_cart .buttons .checkout:hover {
    color: $desego-secondary-color;
  }
  button {
    &[name="save_account_details"]:hover, &[name="save_address"]:hover, &[name="track"]:hover {
      color: $desego-secondary-color;
    }
  }
  .single_add_to_cart_button:hover, .checkout_coupon .button:hover, #place_order:hover, .return-to-shop .button:hover, .cart-totals-inner .checkout-button:hover, .cart-actions .button[name="apply_coupon"]:hover, .register .button:hover, .login .button:hover, .lost_reset_password .button:hover, .social-login-btn > a:hover, .woocommerce-MyAccount-content > .button:hover, .order-again .button:hover, .woocommerce-Button--next:hover, .woocommerce-Button--previous:hover, .woocommerce-MyAccount-downloads-file:hover, .woodmart-pf-btn button:hover, .woocommerce table.wishlist_table td.product-add-to-cart .add_to_cart:hover, table.compare-list tr.add-to-cart td a:hover {
    color: $desego-secondary-color;
  }
  .yith-woocompare-premium .compare-list {
    .product_info .button:hover, .add-to-cart .button:hover, .added_to_cart:hover {
      color: $desego-secondary-color;
    }
  }
  #yith-woocompare-related .related-products .woocommerce > a:hover, #dokan-seller-listing-wrap .dokan-btn:hover, .woocommerce-MyAccount-content .dokan-btn:hover, .yith-ywraq-add-to-quote .yith-ywraq-add-button .button.add-request-quote-button:hover {
    color: $desego-secondary-color;
  }
}

.btns-accent-dark {
  .main-nav .item-level-0.callto-btn > a, .comment-form .submit, .post-password-form input[type="submit"], .cookies-buttons .cookies-accept-btn {
    color: $desego-secondary-color;
  }
  div.open-table-widget .otw-button-wrap {
    .otw-submit, .otw-submit-btn {
      color: $desego-secondary-color;
    }
  }
  .mc4wp-form input[type="submit"], .woodmart-price-table .woodmart-plan-footer > a, #yith-wpv-abuse, div.wcmp_regi_main .button {
    color: $desego-secondary-color;
  }
}

.btns-accent-hover-dark {
  .main-nav .item-level-0.callto-btn > a:hover, .comment-form .submit:hover, .post-password-form input[type="submit"]:hover, .cookies-buttons .cookies-accept-btn:hover {
    color: $desego-secondary-color;
  }
  div.open-table-widget .otw-button-wrap {
    .otw-submit:hover, .otw-submit-btn:hover {
      color: $desego-secondary-color;
    }
  }
  .mc4wp-form input[type="submit"]:hover, .woodmart-price-table .woodmart-plan-footer > a:hover, #yith-wpv-abuse:hover, div.wcmp_regi_main .button:hover {
    color: $desego-secondary-color;
  }
}

@media (max-width: 1024px) {
  .whb-clone .woodmart-cart-design-4 .woodmart-cart-number {
    height: 50px;
    line-height: 50px;
  }
  .star-rating {
    display: none;
  }
  body:not(.woodmart-dark) .woodmart-hover-info-alt h3.product-title a, div[class^="vc_"]:not(.color-scheme-light) .woodmart-hover-info-alt h3.product-title a:hover, body:not(.woodmart-dark) .woodmart-hover-info-alt h3.product-title a:hover, .single-breadcrumbs-wrapper .woocommerce-breadcrumb .breadcrumb-link-last {
    color: $desego-secondary-color;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .woocommerce-orders-table td:before {
    color: $desego-secondary-color;
  }
}

@media (max-width: 768px) {
  .single-post-navigation .btn-label {
    color: $desego-secondary-color;
  }
  .footer-column-2 .widget_nav_menu {
    max-width: 100%;
    margin: 0;
  }
  .footer-column:after {
    display: none;
  }
  .shop_table_responsive td:before, .woocommerce-cart-form__contents ul.variation .item-variation-name, .group_table ul.variation .item-variation-name, .wishlist_table ul.variation .item-variation-name {
    color: $desego-secondary-color;
  }
  .woodmart-checkout-steps ul li {
    margin-bottom: 0;
    max-width: 33%;
    vertical-align: top;
    &:not(.step-active) {
      display: block;
    }
    &.step-cart:before, &.step-checkout:before {
      padding-right: 0;
    }
  }
  .woocommerce-ordering:after {
    color: $desego-secondary-color;
  }
  body:not(.woodmart-dark) {
    .cat-design-center .category-title, .cat-design-replace-title .category-title {
      color: $desego-secondary-color;
    }
  }
  .compare-value:before {
    color: $desego-secondary-color;
  }
  .woodmart-shopping-cart .woodmart-cart-title {
    display: none;
  }
}

@media (max-width: 600px) {
  .admin-bar .whb-sticked .whb-main-header {
    top: 0;
  }
  .business-listing .product-title {
    display: block;
  }
}

@media (max-width: 576px) {
  .footer-widget-collapse .widget-title:after, .color-scheme-light .footer-widget-collapse.footer-widget-opened .widget-title:after {
    color: $desego-secondary-color;
  }
  .product-grid-item.col-6 {
    .product-title, .woodmart-product-cats, .woodmart-product-brands-links, .hover-content {
      font-size: 14px;
    }
  }
  .woodmart-hover-standard .btn-add > a span:not(.woodmart-tooltip-label) {
    font-size: 14px;
  }
}